---
title: Giffleball
description: "From tutorial: https://www.zachleat.com/web/eleventy-tutorial-level-2/"
images:
  - 1.jpg
  - 2.jpg
  - parrot.gif
---
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Giffleball</title>
  </head>

  <body>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <ul>
      {%- for filename in images %}
        {%- capture path %}img/{{ filename }}{% endcapture %}
        <li>
          <a href="img/{{ filename | url_encode }}">{{ filename }}</a>
          <span>{{ path | filesize }}</span>
        </li>
      {%- endfor %}
    </ul>
  </body>

</html>
